cert-core>=3.0.0
cert-schema>=3.6.0
merkletools @ git+https://github.com/Tierion/pymerkletools.git@master
configargparse==0.13.0
glob2==0.6
mock==2.0.0
requests[security]>=2.18.4
pycoin==0.80
tox>=3.0.0
jsonschema>=4.0.0
lds-merkle-proof-2019>=0.1.0
